<div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="col-md-10 col-md-offset-2 text-center">List of Dealerships</th>      </tr>
    </thead>
    <tbody>
    {{#each model as |dealership|}}
      <tr>
        <th>{{dealership.name}}</th>
        <th>{{dealership.address}}</th>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
