<div class="well">
  <ul class="nav nav-pills">
    {{#link-to 'dealerships.index' tagName="li"}}<a href="">List all</a>{{/link-to}}
    {{#link-to 'dealerships.new' tagName="li"}}<a href="">List all</a>{{/link-to}}
  </ul>
</div>

{{outlet}}
